{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title%}
    <title> Photo - {{title}}</title>
    {% else %}
    <title> Photo </title>
    {% endif %}

    {% block styles %}
      {% bootstrap_css %}
      <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Spicy+Rice" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet"> -->
      <link rel="stylesheet" href="{% static 'css/basephotos.css' %}">
    {% endblock %}

  </head>
  <body>
    <!-- {% include "navbar.html" %} -->

    <!-- {% block content %}
    <h1 class="text-center" > photo for today {{date|date:"d-F Y"}}</h1>
    <hr>
    {% endblock%} -->

    <!-- {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %} -->



  </body>
</html>
